<figure class="ascii-campfire" role="img" aria-label="A flickering ASCII campfire with crossed logs and rising sparks">
<pre class="ascii-logs-back" aria-hidden="true">                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
    .                                          .    
    /.........                        .........\    
    //########.........      .........========\\    
    ___=======#========......=##========-----___    
       _________-------==#===-==----_________       
                ________-=--________                
                        ____                        
                                                    
                                                    
                                                    </pre>
<pre class="ascii-coal-bed" aria-hidden="true">                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                   *     * # ; :;                   
                : ;* : +   #;  *                    
                *: #   * #  : *+*+*                 </pre>
<span class="ascii-main-flame" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-0" style="--col:13;--row:9" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-1" style="--col:19;--row:5" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-2" style="--col:25;--row:7" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-3" style="--col:31;--row:8" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-4" style="--col:36;--row:10" aria-hidden="true"></span>
<span class="ascii-fire-patch ascii-patch-5" style="--col:22;--row:12" aria-hidden="true"></span>
<pre class="ascii-logs-front" aria-hidden="true">                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                     ..........                     
            .........#====####=.........            
    ........#####==##===--====-=========........    
    //###==#=====--______________-------===###\\    
    //===-_________              _________-===\\    
    ______                                ______    
                                                    </pre>
<span class="ascii-cell-spark" style="--dur:4.80s;--delay:-0.00s;animation-name:ascii-spark-0" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:5.41s;--delay:-0.79s;animation-name:ascii-spark-1" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:6.02s;--delay:-1.58s;animation-name:ascii-spark-2" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:6.63s;--delay:-2.37s;animation-name:ascii-spark-3" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:7.24s;--delay:-3.16s;animation-name:ascii-spark-4" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:7.85s;--delay:-3.95s;animation-name:ascii-spark-5" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:8.46s;--delay:-4.74s;animation-name:ascii-spark-6" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:4.80s;--delay:-5.53s;animation-name:ascii-spark-7" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:5.41s;--delay:-6.32s;animation-name:ascii-spark-8" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:6.02s;--delay:-7.11s;animation-name:ascii-spark-9" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:6.63s;--delay:-7.90s;animation-name:ascii-spark-10" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:7.24s;--delay:-8.69s;animation-name:ascii-spark-11" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:7.85s;--delay:-9.48s;animation-name:ascii-spark-12" aria-hidden="true">&#39;</span>
<span class="ascii-cell-spark" style="--dur:8.46s;--delay:-10.27s;animation-name:ascii-spark-13" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:4.80s;--delay:-11.06s;animation-name:ascii-spark-14" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:5.41s;--delay:-11.85s;animation-name:ascii-spark-15" aria-hidden="true">&#39;</span>
<span class="ascii-cell-spark" style="--dur:6.02s;--delay:-12.64s;animation-name:ascii-spark-16" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:6.63s;--delay:-13.43s;animation-name:ascii-spark-17" aria-hidden="true">&#39;</span>
</figure>