<figure class="ascii-campfire" role="img" aria-label="A flickering ASCII campfire with crossed logs and rising sparks">
<pre class="ascii-logs-back" aria-hidden="true">











    .                                          .
    /.........                        .........\
    //########.........      .........========\\
    ___=======#========......=##========-----___
       _________-------==#===-==----_________
                ________-=--________
                        ____


</pre>
<pre class="ascii-coal-bed" aria-hidden="true">


















                   #     * + + +;
                # +: : ;   **  +
                #+ *   ; #  : ;;;##</pre>
<span class="ascii-main-flame" aria-hidden="true"></span>
<pre class="ascii-logs-front" aria-hidden="true">














                     ..........
            .........#====####=.........
    ........#####==##===--====-=========........
    //###==#=====--______________-------===###\\
    //===-_________              _________-===\\
    ______                                ______
</pre>
<span class="ascii-cell-spark" style="--dur:3.80s;--delay:-0.00s;animation-name:ascii-spark-0" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:4.23s;--delay:-0.79s;animation-name:ascii-spark-1" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:4.66s;--delay:-1.58s;animation-name:ascii-spark-2" aria-hidden="true">.</span>
<span class="ascii-cell-spark" style="--dur:5.09s;--delay:-2.37s;animation-name:ascii-spark-3" aria-hidden="true">&#x27;</span>
<span class="ascii-cell-spark" style="--dur:5.52s;--delay:-3.16s;animation-name:ascii-spark-4" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:5.95s;--delay:-3.95s;animation-name:ascii-spark-5" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:6.38s;--delay:-4.74s;animation-name:ascii-spark-6" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:3.80s;--delay:-5.53s;animation-name:ascii-spark-7" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:4.23s;--delay:-6.32s;animation-name:ascii-spark-8" aria-hidden="true">*</span>
<span class="ascii-cell-spark" style="--dur:4.66s;--delay:-7.11s;animation-name:ascii-spark-9" aria-hidden="true">&#x27;</span>
<span class="ascii-cell-spark" style="--dur:5.09s;--delay:-7.90s;animation-name:ascii-spark-10" aria-hidden="true">+</span>
<span class="ascii-cell-spark" style="--dur:5.52s;--delay:-8.69s;animation-name:ascii-spark-11" aria-hidden="true">.</span>
</figure>
