{% case include.token %}
{% when 'home' %}
{% include ascii/campfire.html %}
{% when 'kvksg' %}
<span class="ascii-mini ascii-mini--moon"></span>
{% when 'bearhunt' %}
<span class="ascii-mini ascii-mini--bear"></span>
{% when 'vikings' %}
<span class="ascii-march"></span>
{% when 'swordland' %}
<span class="ascii-mini ascii-mini--banner"></span>
{% when 'vip' %}
<span class="ascii-mini ascii-mini--crown"></span>
{% when 'sim' %}
<span class="ascii-mini ascii-mini--dice"></span>
{% when 'gear' %}
{% include ascii/forge.html %}
{% endcase %}
